<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Harry Potter Movies</h1>

<% if (error) { %>
  <p><%= error %></p>
<% } else { %>
  <% movies.forEach(movie => { %>
    <div>
      <h2><%= movie.attributes.title %></h2>
      <img src="<%= movie.attributes.poster %>" width="200" />
    </div>
  <% }) %>
<% } %>


    
  </body>
</html>
